.app {
  display: flex;
  justify-content: stretch;
  flex-wrap: wrap;
}
.app {
  padding: 1rem 25px;
}
.column {
  flex: 1;
  border: 1px solid #333;
}
.column:not(:first-child) {
  margin-left: 25px;
}
.column .column-name {
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 1rem;
}
.column-name h4 {
  margin: 0;
}
.column:nth-child(1) .column-name {
  background-color: #8E6E95;
}
.column:nth-child(2) .column-name {
  background-color: #39A59C;
}
.column:nth-child(3) .column-name {
  background-color: #344759;
}
.column:nth-child(4) .column-name {
  background-color: #E8741E;
}
.column .button-container {
  display: flex;
  justify-content: center;
  padding: 1rem;
}
.button-container button {
  padding: 2px 1rem;
}
.card {
  display: flex;
  padding: 1rem 0;
}
.card p {
  margin: auto;
  padding: 5px;
  text-align: center;
}
.card button {
  background: none;
  border: none;
}
.card .invisible-span {
  width: 12.625px;
}