@import url('https://fonts.googleapis.com/css?family=Mukta+Mahee');
* {
  font-family: 'Mukta Mahee', sans-serif;
}
body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}
button {
  cursor: pointer;
}